.container {
    width: 100vw;
    height: 100vh;
}

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  nav {
    background-color: #f8f9fa;
    padding: 1rem;
    
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 1rem;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #007bff;
  }
  
  .container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }
  
  .container > div {
    width: 100%;
  }